# Web Framework & Extensions
Flask
Flask-SQLAlchemy
Flask-CORS
flask_jwt_extended
flasgger
gunicorn
boto3

# Database Drivers
PyMySQL
mysql-connector-python
cryptography
redis

# Environment Variables
python-dotenv

# HTTP Requests & APIs
requests
openai
google.genai
google

# Web Scraping & Parsing
playwright
beautifulsoup4
aiohttp
Pillow

#async
asgiref
asyncio
async

# nl
konlpy